<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lihoy21gmail.mywidget">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".My_Activity"
            android:theme="@android:style/Theme.Material.Dialog.NoActionBar"/>

        <activity android:name=".Statistics_Activity"
            android:theme="@style/MyMaterialTheme"/>
        <receiver
            android:name=".My_Widget"
            android:icon="@android:drawable/star_big_on"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata"/>
        </receiver>

    </application>

</manifest>
